<html>
	<head>
		<link rel="stylesheet" href="/css/style.css">
		<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="genericCenter" style="font-size:24pt">
			<a href="/getlogincode">I haven't played before.</a>
		</div>
		<br>
		<br>
		<div class="GenericCenter" style="font-size:24pt">
			<a href="/play">I've played before.</a>
		</div>
		<br>
		<br>
		<div class="GenericCenter" style="font-size:12pt">
			<a href="/recover">Recover your game.</a>
		</div>
	</body>
</html>