body {
	background-color: #DDDDDD;
}
.generic {
	text-shadow: 0px 2px 1px #FFFFFF;
	color: #444444;
	font-family: Ubuntu;
}
.genericCenter {
	text-align: center;
	text-shadow: 0px 2px 1px #FFFFFF;
	color: #444444;
	font-family: Ubuntu;
}
.generic:visited {
	text-shadow: 0px 2px 1px #FFFFFF;
	color: #444444;
	font-family: Ubuntu;
}
.genericCenter:visited {
	text-align: center;
	text-shadow: 0px 2px 1px #FFFFFF;
	color: #444444;
	font-family: Ubuntu;
}
.buttonToText {
	background:none!important;
	border:none; 
	padding:0!important;
	cursor: pointer;
	text-shadow: 0px 2px 1px #FFFFFF;
	text-decoration: underline;
	color: #444444;
	font-family: Ubuntu;
}